
.dayview-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 100vh;  
  padding: 40px;  
  box-sizing: border-box;
}

.dayview {
  width: 48%;  
  height: 90%; 
  border: 1px solid #ddd;
  padding: 30px; 
  box-sizing: border-box; 
  font-size: 1.2rem; 
  font-family: var(--cc-font-family);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

