
.dayview-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 100vh;  
  padding: 20px; 
  box-sizing: border-box;
}

.dayview {
  width: 60%;  
  height: 90%; 
  padding: 20px; 
  box-sizing: border-box; 
  font-size: 1.2rem; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  
  
  border-radius: 12px;  
  border: 2px solid #4CAF50;  
  background-color: #f1f8f4; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.dayview-title {
  font-size: 2rem; 
  font-weight: bold;
  margin-bottom: 1px; 
  color: #2e7d32;  
}


.dayview-date {
  font-size: 1.5rem; 
  margin-bottom: 2px; 
  color: #388e3c;  
}


.dayview-events h3 {
  font-size: 1.4rem; 
  margin-bottom: 5px; 
  color: #388e3c;  
}

.dayview-events ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1rem; 
  margin: 0; 
}

.dayview-events li {
  margin: 5px 0; 
  color: #2e7d32;  
}


.dayview:hover {
  border-color: #388e3c; 
  background-color: #e8f5e9; 
  transition: background-color 0.3s, border-color 0.3s;
}
